@font-face{
    font-family: "maPolice";
    src: url("font/comic-sans-ms.ttf");
}
body{
    background-color: #C93C62;
}
#container{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
}
.element{
    border: 1px solid black;
    text-align: center;
    padding: 20px 20px;
    width: 100px;
}
a{
    font-family: "maPolice", serif;
    color: white;
    font-size: 21px;
}